<alert></alert>
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                        <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                    <h3 class="box-title m-b-20">{{ 'Sign Up' | translate }}</h3>
                    <div class="form-group">
                        <label for="email">Usuario (correo electrónico)</label>
                        <input type="email" class="form-control" placeholder="mail@mail.com" name="email" [(ngModel)]="model.email"
                            #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback error">
                            <div *ngIf="email.errors.required">Mail es necesario</div>
                            <div *ngIf="email.errors.email">No es una dirección de mail válida</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">{{ 'Password' | translate }}</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">{{ 'You must confirm the password' | translate }}</div>
                            <div *ngIf="password.errors.minlength">{{ 'The password must have six char' | translate }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">{{ 'Confirm the password' | translate }}</label>
                        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword"
                            validateEqual="password" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }"
                            required minlength="6" />
                        <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
                            <div *ngIf="confirmPassword.errors.required">{{ 'You must confirm the password' | translate }}</div>
                            <div *ngIf="confirmPassword.errors.minlength">{{ 'The password must have six char' | translate }}</div>
                            <div *ngIf="!confirmPassword.errors.minlength && !confirmPassword.errors.required && confirmPassword.invalid">
                                {{ 'The confirmation have got to be equal the password' | translate }}</div>
                        </div>
                    </div>
                    <div class="form-group text-center p-b-20">
                        <div class="col-xs-12">
                            <button [disabled]="loading" class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">{{ 'Sign Up' | translate }}</button>
                            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            {{ 'Already have an account?' | translate }} <a [routerLink]="['/login']" class="text-info m-l-5"><b>{{ 'Log In' | translate }}</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>