*.dll
GEOTurnosTerminal.SelfHost/bin/Debug/Content/js/Object_old.js
GEOTurnosTerminal.SelfHost/bin/Debug/Content/js/template_old.js
GEOTurnosTerminal.SelfHost/bin/Debug/GEOTurnosTerminal.Configuration.pdb
GEOTurnosTerminal.SelfHost/bin/Debug/GEOTurnosTerminal.DataObject.pdb
GEOTurnosTerminal.SelfHost/bin/Debug/GEOTurnosTerminal.SelfHost.exe
GEOTurnosTerminal.SelfHost/bin/Debug/GEOTurnosTerminal.SelfHost.exe.config
GEOTurnosTerminal.SelfHost/bin/Debug/GEOTurnosTerminal.SelfHost.pdb
GEOTurnosTerminal.SelfHost/bin/Debug/GEOTurnosTerminal.SelfHost.vshost.exe
GEOTurnosTerminal.SelfHost/bin/Debug/GEOTurnosTerminal.SelfHost.vshost.exe.config
GEOTurnosTerminal.SelfHost/bin/Debug/GEOTurnosTerminal.SelfHost.vshost.exe.manifest
GEOTurnosTerminal.SelfHost/bin/Debug/GEOTurnosTerminal.Service.pdb
GEOTurnosTerminal.SelfHost/bin/Debug/GEOTurnosTerminal.WebSite.pdb
GEOTurnosTerminal.SelfHost/bin/Debug/Resources/TerminalConfig/ApplicationConfig.xml
GEOTurnosTerminal.SelfHost/bin/Debug/Resources/TerminalConfig/ConfigMsr.xml
GEOTurnosTerminal.SelfHost/bin/Debug/Resources/TerminalConfig/ConfigServiceDevice.xml
GEOTurnosTerminal.SelfHost/bin/Debug/Resources/TerminalConfig/ConfigWildcardTicket.xml
GEOTurnosTerminal.SelfHost/bin/Debug/Resources/TerminalConfig/ParticularConfig.xml
GEOTurnosTerminal.SelfHost/bin/Debug/Resources/TerminalConfig/WsConfig.xml
GEOTurnosTerminal.SelfHost/bin/Debug/Resources/TerminalConfig/WsConfig_Porto.xml
GEOTurnosTerminal.SelfHost/bin/Debug/Spire.License.xml
