<div class="jumbotron">
  <div class="container">
      <div class="col-sm-8 col-sm-offset-2">
          <alert></alert>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>

<!-- credits -->
<!-- <div class="text-center">
  <p>
      <a href="http://jasonwatmore.com/post/2017/02/22/mean-with-angular-2-user-registration-and-login-example-tutorial" target="_top">MEAN Stack with Angular 2 - User Registration and Login Example & Tutorial</a>
  </p>
  <p>
      <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>
</div>

<div>
  <h3>SignalR w/ Angular 2 demo</h3>
</div>

<div>
  <span>Connection state: {{connectionState$ | async}}</span>
</div>

<div class="flex-row">
  <app-task class="flex"
      [eventName]="'longTask.status'"
      [apiUrl]="'http://localhost:7331/api/tasks/long'"></app-task>
  <app-task class="flex"
      [eventName]="'shortTask.status'"
      [apiUrl]="'http://localhost:7331/api/tasks/short'"></app-task>
</div> -->
